<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img"><img src="images/1.jpg" alt="" class="img-responsive"></div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <app-hotel-type></app-hotel-type>
      </div>
      <div class="village">
        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>
        <div class="activity_box">
          <div class="scrollbar" id="style-2">
            <app-hotel-item></app-hotel-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="element-right">
    <app-weather></app-weather>
    <app-hotel-preview></app-hotel-preview>
  </div>
  <div class="clear"></div>
</div>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">
    W3layouts </a></p>
</div>
